---
import Main from "../layouts/Main.astro";
import { getCollection } from "astro:content";
import { collections } from "../content/config";

const contents = new Map<string, { href: string; title: string }[]>();

for (const content in collections) {
	const c = await getCollection(content as any);
	contents.set(
		content,
		c.map(({ slug, collection, data: { title } }) => ({
			href: `./${collection}/${slug}/`,
			title,
		})),
	);
}

const other = (await Astro.glob("/src/pages/*.{mdx,md}")).map(
	({ url, frontmatter: { title } }) => ({
		href: "." + url,
		title,
	})
);
---

<Main title="note">
	<ul>
		{
            other.map(({ href, title }) => (
                <li>
                    <a {href}>{title}</a>
                </li>
            ))
        }
		{
			Array.from(contents.entries()).map(([name, content]) => (
				<li>
					<a href={`./${name}/`}>{name}</a>
					<ul>
						{content.map(({ href, title }) => (
							<li>
								<a {href}>{title ?? href}</a>
							</li>
						))}
					</ul>
				</li>
			))
		}
	</ul>
</Main>
