---
import Main from "../layouts/Main.astro";
import { getCollection } from "astro:content";
import { collections } from "../content/config";

const contents = new Map<string, { href: string; title: string }[]>(
	await Promise.all(Object.keys(collections).map(
		async (content:any):Promise<[string, { href: string; title: string }[]]> => [
		content ,
		(await getCollection(content)).map(({slug, collection, data:{title}})=>({
			href: `./${collection}/${slug}/`,
			title,
		}))
	]))
);
---

<Main title="note">
	<ul>
		{
			Array.from(contents.entries()).map(([name, content]) => (
				<li>
					<a href={`./${name}/`}>{name}</a>
					<ul>
						{content.map(({ href, title }) => (
							<li>
								<a {href}>{title ?? href}</a>
							</li>
						))}
					</ul>
				</li>
			))
		}
	</ul>
</Main>
