---
import Latex from "./Latex.astro";

export interface Props {
    preamble?: string | string[];
    class?:string
}

const { preamble: pre = [], class:c=""} = Astro.props;
const preamble = [
    '\\usepackage{tikz}',
    '\\usetikzlibrary{arrows.meta}',
    '\\definecolor{red}{HTML}{c63a44}',
    ...typeof pre === 'string' ? [pre] : pre
];
---

<div class="flex justify-center">
<Latex classes={['tikz',c]} {preamble}><slot /></Latex>
</div>
